$--bgColor: #922b2b;
$--bgColor-theme1: #ff6600;
$--bgColor-theme2: #5285C4;
$--bgColor-theme3: #F13B23;

@mixin theme_bg($bgColor) {
  background-color: $bgColor;

  [data-theme = "theme1"] & {
    background-color: $--bgColor-theme1;
  }
  [data-theme = "theme2"] & {
    background-color: $--bgColor-theme2;
  }
  [data-theme = "theme3"] & {
    background-color: $--bgColor-theme3;
  }
}

@mixin font_color($bgColor) {
  color: $bgColor;

  [data-theme = "theme1"] & {
    color: $--bgColor-theme1;
  }
  [data-theme = "theme2"] & {
    color: $--bgColor-theme2;
  }
  [data-theme = "theme3"] & {
    color: $--bgColor-theme3;
  }
}